<div style="float: center">
    <table align="center" style="width:70%;padding:4px;">
        <th>Employee Id</th>
        <th>Employee Name</th>

        <tr *ngFor="let employee of EmployeeData">
            <td bgcolor="#CCCCCC" (click)="goToDetails(employee)">{{employee.userId}}</td>
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <!-- Delete button -->
            <td><button *ngIf="!isEmployee && this.router.url == '/employees'"
                    (click)="deleteEmployeeFromList(employee)">Delete</button></td>

        </tr>
    </table>
</div>